*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.post-card{
   
    margin: 8px;
    padding: 10px;
    background-color: #91c788;
}

.posts{
    text-align: center;
    
}
.post-card:hover{
      background-color: #ddffbc;
    color:black
}
