*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.single{
    width: 100vw;
    height: 96vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.single-post{
    
    width: 280px;
    margin-top: 6px;
    border: black 1px solid;
    padding: 18px;

}
h1{
    text-align: center;
    
}
.strongest{
    display: inline;
}