*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.user-card{
    background-color: #91c788;
    margin: 8px;
    padding: 13px;
    border: #a58faa solid 1px;
}
h2,h3,h4,h5,h6{
    display: inline;
}
.btn{
    width: 80px;
    color: white;
    background-color: gray;
    
}
.user-card:hover{
    background-color: #ddffbc;
    border: #907fa4;
    color:black
}
